/* Universal Reset */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow: hidden;
}

/* HTML Whole Page */
html {
  font-size: 10px;
  scroll-behavior: smooth;
}

/* CSS Variable Declaration */
:root {
  --dark-black: #000000;
  --pure-white: #ffffff;
  --sky-blue: #0983f1;
  --gray: #686868;
  --h1-font: 7rem;
  --h2-font: 3.2rem;
  --h3-font: 2.8rem;
  --h4-font: 2.4rem;
  --h5-font: 1.8rem;
  --p-font: 1.6rem;
  --font-20px: 2rem;
  --font-segoe-UI: "Segoe UI";
}

/* Body Tag */
body {
  font-family: "Poppins";
}

/* All Heading */
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0px;
}

/* Dark Black Background Color */
.dark-black-background-color {
  background-color: var(--dark-black);
}

/* Dark Black Text Color */
.dark-black-text-color {
  color: var(--dark-black);
}

/* Font Weight 600 */
.font-weight-600 {
  font-weight: 600;
}

/* Gray Text Color */
.gray-text-color {
  color: var(--gray);
}

/* h1 */
h1 {
  font-size: var(--h1-font);
}

/* h2 */
h2 {
  font-size: var(--h2-font);
}

/* h3 */
h3 {
  font-size: var(--h3-font);
}

/* h4 */
h4 {
  font-size: var(--h4-font);
}

/* h5 */
h5 {
  font-size: var(--h5-font);
}

/* Paragraph Size */
p,
.para-font-size {
  font-size: var(--p-font);
}

/* Segoe Font Family */
.segoe-font {
  font-family: var(--font-segoe-UI);
}

/* Margin Top 100 */
.margin-top-100 {
  margin-top: 10rem;
}

/* Logo Image */
#logo-image {
  width: 90px;
  height: 60px;
  border-radius: 10px;
}

/* Nav Bar Section - Section 1 */
/* Nav Bar Link */
.nav-link {
  font-size: var(--p-font);
  padding: 1rem 0.2rem;
  position: relative;
}

.nav-link::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 0.15rem;
  background-color: var(--pure-white);
  bottom: 0.2rem;
  left: 50%;
  transform: translateX(-50%);
  visibility: hidden;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.nav-link:hover::before,
.nav-link.active::before {
  width: 100%;
  visibility: visible;
}

/* Nav Bar Toggler */
.navbar-toggler > .fa-solid.fa-bars {
  font-size: 2.2rem;
}

/* Home Section - Section 2.1 */
.home-section {
  background-image: url("../image/home-section/mern-stack-logo.png");
  background-color: var(--dark-black);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}
/* Black Shadow On the Image */
.home-section-layer {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8));
  z-index: -1;
}

.home-section .container {
  height: 86vh;
}