/* Universal Reset */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* overflow: hidden; */
}

/* HTML Whole Page */
html {
  font-size: 10px;
  scroll-behavior: smooth;
}

/* CSS Variable Declaration */
:root {
  --dark-black: #000000;
  --pure-white: #ffffff;
  --sky-blue: #0983f1;
  --gray: #686868;
  --h1-font: 7rem;
  --h2-font: 3.2rem;
  --h3-font: 2.8rem;
  --h4-font: 2.4rem;
  --h5-font: 1.8rem;
  --p-font: 1.6rem;
  --font-20px: 2rem;
  --font-segoe-UI: "Segoe UI";
}

/* Body Tag */
body {
  font-family: "Poppins";
}

/* All Heading */
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0px;
}

/* Dark Black Background Color */
.dark-black-background-color {
  background-color: var(--dark-black);
}

/* Dark Black Text Color */
.dark-black-text-color {
  color: var(--dark-black);
}

/* Font Weight 600 */
.font-weight-600 {
  font-weight: 600;
}

/* Gray Text Color */
.gray-text-color {
  color: var(--gray);
}

/* h1 */
h1 {
  font-size: var(--h1-font);
}

/* h2 */
h2 {
  font-size: var(--h2-font);
}

/* h3 */
h3 {
  font-size: var(--h3-font);
}

/* h4 */
h4 {
  font-size: var(--h4-font);
}

/* h5 */
h5 {
  font-size: var(--h5-font);
}

/* Paragraph Size */
p,
.para-font-size {
  font-size: var(--p-font);
}

/* Segoe Font Family */
.segoe-font {
  font-family: var(--font-segoe-UI);
}

/* Margin Top 100 */
.margin-top-100 {
  margin-top: 10rem;
}

/* Nav Bar Section - Section 1 */
/* Logo Image */
#logo-image {
  width: 60px;
  height: 50px;
  border-radius: 10px;
}

/* Nav Bar Link */
.nav-link {
  font-size: var(--p-font);
  padding: 1rem 0.2rem;
  position: relative;
}

.nav-link::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 0.5rem;
  background-color: var(--pure-white);
  clip-path: polygon(20% 40%, 100% 50%, 0 100%);
  bottom: 0.2rem;
  /* These two lines for spread line line from center to both left and right sidez */
  /* left: 50%; */
  /* transform: translateX(-50%); */
  visibility: hidden;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.nav-link:hover::before,
.nav-link.active::before {
  width: 100%;
  visibility: visible;
}

/* Nav Bar Toggler */
.navbar-toggler > .fa-solid.fa-bars {
  font-size: 2.2rem;
}

/* Home Section - Section 2 */
.home-section {
  background-image: url("../image/home-section/mern-stack-logo.png");
  background-color: var(--dark-black);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}

/* Black Shadow On the Image */
.home-section-layer {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8));
  z-index: -1;
}

/* Home Section's Size */
.home-section .container {
  height: 86vh;
}

/* About Section - Section 3 */
.about-section {
  padding: 5rem 0;
  border-radius: 3rem;
}

.about-section .container {
  box-shadow: 0 0.2rem 1.5rem rgba(0, 0, 0, 0.2);
  padding: 3rem;
}

.about-section > .container > div > div > div {
  display: flex;
  flex-direction: column;
}

.profile-description p {
  white-space: nowrap;
}

.blue-line {
  width: 7rem;
  height: 0.8rem;
  background-color: var(--sky-blue);
  clip-path: polygon(25% 40%, 100% 50%, 0 100%);
}

.about-me-description > h2 {
  position: relative;
  display: inline-block;
}

.about-me-description > h2::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 0.7rem;
  background-color: var(--sky-blue);
  clip-path: polygon(25% 40%, 100% 50%, 0 100%);
  bottom: -0.8rem;
}

/* Skills Section - Section 4 */
.accordion-button:not(.collapsed) {
  font-size: 2rem;
  background-color: lightgrey;
  color: black;
}

.accordion-item:last-of-type > .accordion-header .accordion-button.collapsed {
  font-size: 2rem;
  background-color: lightgrey;
  color: black;
}

.accordion-button:focus {
  box-shadow: none;
  z-index: auto;
}

.skills-section > .container > h2 {
  position: relative;
  display: inline-block;
}

.skills-section > .container > h2::before {
  content: "";
  position: absolute;
  width: 60%;
  height: 0.7rem;
  background-color: var(--sky-blue);
  clip-path: polygon(25% 40%, 100% 50%, 0 100%);
  bottom: -0.8rem;
}

.skills-section > .container span {
  font-size: 1.3rem;
}

.skills-section .container {
  box-shadow: 0 0.2rem 1.5rem rgba(0, 0, 0, 0.2);
  padding: 3rem;
}

/* Education & Course Certification Section 5 */
.education-course-section {
  padding: 5rem 0;
}

.education-course-row > div > h2 {
  position: relative;
  display: inline-block;
}

.education-col > h2::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 0.7rem;
  background-color: var(--sky-blue);
  clip-path: polygon(25% 40%, 100% 50%, 0 100%);
  bottom: -0.8rem;
}

.course-col > h2 {
  position: relative;
  display: inline-block;
}

.course-col > h2::before {
  content: "";
  position: absolute;
  width: 60%;
  height: 0.7rem;
  background-color: var(--sky-blue);
  clip-path: polygon(25% 40%, 100% 50%, 0 100%);
  bottom: -0.8rem;
}

.education-course-section .container span {
  font-size: 1.3rem;
}

.education-course-section .container {
  box-shadow: 0 0.2rem 1.5rem rgba(0, 0, 0, 0.2);
  padding: 3rem;
}

/* Project Section - Section 6 */
#project-section > div > h2 {
  position: relative;
  display: inline-block;
}

#project-section > div > h2::before {
  content: "";
  position: absolute;
  width: 60%;
  height: 0.7rem;
  background-color: var(--sky-blue);
  clip-path: polygon(25% 40%, 100% 50%, 0 100%);
  bottom: -0.8rem;
}

.custom-card-hover-effect {
  transition: all 0.3s ease-in-out;
}

.custom-card-hover-effect:hover {
  transform: scale(1.02);
  box-shadow: 0 0.2rem 1.5rem rgba(0, 0, 0, 0.2);
}

.card-button-style {
  background-color: var(--dark-black);
  color: var(--pure-white);
  font-weight: bold;
}

.card-button-style:hover {
  border: 1px solid black;
}

/* Contact Section - Section 7 */
.contact-section > div > h2 {
  position: relative;
  display: inline-block;
}

.contact-section > div > h2::before {
  content: "";
  position: absolute;
  width: 60%;
  height: 0.7rem;
  background-color: var(--sky-blue);
  clip-path: polygon(25% 40%, 100% 50%, 0 100%);
  bottom: -0.8rem;
}

form {
  box-shadow: 0 0 2rem color-mix(in srgb, var(--gray), transparent 75%);
}

input,
textarea,
.submit-btn {
  font-size: var(--p-font);
}

::placeholder {
  opacity: 0.7 !important;
}

.contact-section textarea {
  resize: none;
}

.submit-btn {
  padding: 1rem 3rem;
  background-color: var(--dark-black);
  color: var(--pure-white);
  opacity: 0.7;
  transition: all 0.4s ease-in-out;
}

.submit-btn:hover {
  background-color: var(--dark-black);
  color: var(--pure-white);
  opacity: 1;
}

.thank-you-message {
  font-family: var(--font-segoe-UI);
  display: none;
}

/* Footer Section - Section 8 */
.footer-section {
  background-color: var(--dark-black);
  padding: 5rem;
  display: flex;
  flex-direction: column;
}

.contact-details p {
  color: var(--pure-white);
}

.contact-details i {
  padding-right: 2.5rem;
  font-size: 1.5rem;
}

.social-icons {
  display: flex;
  gap: 2rem;
}

.social-icons i {
  font-size: 1.5rem;
  color: var(--pure-white);
  width: 4rem;
  height: 4rem;
  border: 0.2rem solid var(--pure-white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
  transition: all 0.3s ease-in-out;
}

.social-icons i:hover {
  opacity: 1;
  transform: scale(1.1);
}

/* Meadia Query */
/* 1. Tablet Screen */
@media (max-width: 922px) {
  /* CSS Variable */
  :root {
    --h1-font: 5rem;
    --h2-font: 3rem;
  }

  /* Nav Link */
  .nav-link {
    display: inline-block;
    position: relative;
  }

  .nav-link::before {
    bottom: 0.5rem;
  }

  .nav-link:hover::before,
  .nav-link.active::before {
    width: 70%;
  }
}

/* 2. Mobile Screen */
@media (max-width: 600px) {
  /* CSS Variable */
  :root {
    --h1-font: 3.8rem;
    --h2-font: 2.8rem;
    --h3-font: 2.3rem;
    --p-font: 1.3rem;
  }

  /* Common CSS */
  .margin-top-100 {
    margin-top: 5rem;
  }

  /* About Section - Section 3 */
  .about-section {
    padding: 0;
  }

  /* Skills Section - Section 4 */
  .accordion-button:not(.collapsed) {
    font-size: 1.8rem;
  }

  .accordion-item:last-of-type > .accordion-header .accordion-button.collapsed {
    font-size: 1.8rem;
  }

  .skills-section > .container span {
    font-size: 1.1rem;
  }

  /* Education & Course Section - Section 5 */
  .education-course-section {
    padding: 2rem 0;
  }

  /* Footer Section - Section 8 */
  .contact-details i {
    font-size: 1.2rem;
    padding-right: 1.8rem;
  }

  .social-icons i {
    font-size: 1.2rem;
    width: 2.8rem;
    height: 2.8rem;
  }
}